.card {
    border-radius: 12px;
}
:root {
    --primary-blue: #0b3c66;
    --secondary-blue: #125489;
    --light-bg: #f4f6f9;
    --card-bg: #ffffff;
    --border-light: #e8edf3;
    --text-dark: #1f2d3d;
    --text-muted: #7b8794;
    --success-green: #28c76f;
    --warning-yellow: #ff9f43;
    --purple: #7367f0;
}

body {
    background-color: var(--light-bg);
    color: var(--text-dark);
}

.navbar {
    background-color: white !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.navbar-brand span {
    color: var(--primary-blue);
}

aside {
    background-color: white;
}

.nav-link {
    border-radius: 10px;
    padding: 10px 14px;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: #edf5fc;
}

.nav-link.active {
    background-color: var(--primary-blue) !important;
    color: white !important;
}

.card {
    border: none;
    border-radius: 18px;
    background-color: var(--card-bg);
}

.shadow-sm {
    box-shadow: 0 6px 18px rgba(0,0,0,0.05) !important;
}

.card.stats { border-top: 4px solid var(--primary-blue); }
.card.completed { border-top: 4px solid var(--success-green); }
.card.pending { border-top: 4px solid var(--warning-yellow); }
.card.table-panel { border-top: 4px solid var(--purple); }

.panel-icon {
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    margin-right: 8px;
}

.icon-blue { background: rgba(11,60,102,0.1); color: var(--primary-blue); }
.icon-green { background: rgba(40,199,111,0.1); color: var(--success-green); }
.icon-yellow { background: rgba(255,159,67,0.1); color: var(--warning-yellow); }
.icon-purple { background: rgba(115,103,240,0.1); color: var(--purple); }

.btn-primary {
    background-color: var(--primary-blue);
    border: none;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: var(--secondary-blue);
}

.btn-outline-primary {
    border-color: var(--primary-blue);
    color: var(--primary-blue);
}

.btn-outline-primary:hover {
    background-color: var(--primary-blue);
    color: white;
}

.badge.bg-success { background-color: var(--success-green) !important; }
.badge.bg-warning { background-color: var(--warning-yellow) !important; }

.table thead { background-color: #f8fafc; }

.section-title {
    font-weight: 600;
    color: var(--text-dark);
}
.notification-box {
    position: absolute;
    right: 0;
    top: 40px;
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 12px;
    z-index: 999;

    display: none;
}

.notification-item {
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
}

.notification-item:hover {
    background: #f1f5f9;
    cursor: pointer;
}